body{
    background-color: #231e23;
    color:white;
}

img{
    padding-left: 10px;
    height: 15.5%;
    width: 7.5%;
}

.loginhead{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    display: inline-block; 
    background-color: #3c415c;
    color: aliceblue;
    position: relative;
    width: 100%;
    padding: 10px 10px;
}
.createacc{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ets{
    
    font-size: 100%;
    font-family: 'Noto Serif JP', serif;
}

.addbtn{
    font-size:15px;
    background-color: #4CAF50;
    color:white;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px

}
.emoji{
    text-decoration: none;
    font-size:40px;

}
.searchbtn{
    background-color: #4813db;
    color:white;
}

.menubtn{
    margin: 10px;
    text-decoration: none;
    display: inline;
    font-size:15px;
    padding: 5px;
    border-width:1px;
    color:#ffffff;
    border-color:#d83526;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    background:linear-gradient(#fe1a00, #ce0100);
  }
  
  .buttonClass:hover {
    background: linear-gradient(#ce0100, #fe1a00);
  }
               
.pfp{
    padding-top: 10px;

}
.userdata{
    margin-left: 10px;
}
.passbtn{
    margin: 10px;
    text-decoration: none;
    display: inline;
    font-size:15px;
    padding: 5px;
    border-width:30px;
    color:#ffffff;
    border-color:#0c926a;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    background:linear-gradient(#10aa62, #0e6338);
}